<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EthPrice</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <p class="version">v<%= version %></p>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <%= render @view_module, @view_template, assigns %>
          </div>
          <div class="footer">
            <div class="inner">
              <p>Developed with <a href="http://phoenixframework.org" target="_blank">Phoenix framework</a>, by <a href="https://github.com/esdrasedu/eth_price" target="_blank">@esdrasedu</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
