<form id="ethereum">
  <p><img src="/images/ethereum.png"></p>
  <p class="price">
    <%= text_input(:ethereum, :value, value: @ethereum[:value]) %> = <%= number_to_currency(@ethereum[:price], unit: "R$ ", separator: ",", delimiter: ".") %>
  </p>
</form>
